.hg-cont{
    padding-top:50px ;
}
.heading {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  padding-top: 30px;
  color: blue;
  height: 80px; /* adjust as needed */
}

.high {
  position: relative;
  z-index: 1;
}

.lights {
  position: absolute;
  left: 57%;
  transform: translateX(-50%);
 top: 40px;/*  moves "lights" up
  font-size: 24px; /* smaller size for "lights" */
  color:green; /* or any attractive color */
  z-index: 2;
}
.hg-imglist{
    padding-top:900px;
    border:1px solid;
    width: 100%;

}
